<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="contents?.length > 0">
  <button item-right color="danger" class="empty-cart-button" (click)="emptyCartContents()">
    Empty Cart
  </button>
  <ion-list [ngClass]="{'invisible': isListHidden}">
    <ion-card class="cart-details" *ngFor="let item of contents" (press)="removeItem($event)">
      {{ item.name }}
      {{ item.price | currency:'USD':true }}
    </ion-card>
  </ion-list>

  <div ion-item class="total">
    Cart Total: {{ totalCost | currency:'USD':true }}
  </div>

  <button color="dark" (click)="checkOutCart(totalCost, contents)">
    Check Out
  </button>

</ion-content>

<ion-content padding *ngIf="contents?.length == 0">

<div>
  Your cart is empty! Put something in it.
</div>

</ion-content>
