<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="contents?.length > 0">
  <button ion-button color="danger" class="empty-button" (click)="emptyCartContents()">
    Empty Cart
  </button>

  <div class="cart-header">Here's what we've got for you</div>

  <ion-card class="cart-header-message">
    <ion-card-content>
      Your order is almost ready to go! All what you need to do now is press the checkout button, sit back, and relax while we get cooking.
    </ion-card-content>
  </ion-card>

  <ion-list [ngClass]="{'invisible': isListHidden}">
    <ion-item-sliding *ngFor="let item of contents">
      <ion-item>
        <ion-row>
          <ion-col class="item-name">
            {{ item.name }}
          </ion-col>
          <ion-col class="price">
            {{ item.price | currency:'USD':true }}
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeItem($event)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <ion-row>
        <ion-col class="total">
          Cart Total:
        </ion-col>
        <ion-col class="total price">
          {{ totalCost | currency:'USD':true }}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>



  <button class="checkout-button" ion-button color="primary" (click)="checkOutCart(totalCost, contents)">
    Check Out
  </button>

</ion-content>

<ion-content padding *ngIf="contents?.length == 0">

  <div>
    Your cart is empty! Put something in it.
  </div>

</ion-content>
