page-eatsites {

  .filter-container {
    width: 100%;
  }

  .inline {
    display: inline;
  }

  .eatsite-card {

  }

  .hidden {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 100px;
    transition: margin-bottom 1s, opacity 1s 1s, visibility 1s 1s;
  }

}
