page-eatsites {

  button {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
  }

  .filter-container {
    width: 100%;
    text-align: center;

    p {
      padding: 0;
      margin-bottom: 15px;
    }
  }

  .inline {
    display: inline;
  }

  .eatsite-card {
    position: relative;
    text-align: center;
  }

  .eatsite-card-button {
    height: 250px;
    border: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .eatsite-card-content {
    flex: 0 1 100%;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  .eatsite-title {
    flex: 0 1 100%;
    font-size: 2.0em;

    text-align:center;
    font-weight: bold;
    color: #fff;
  }

  .eatsite-details {
    flex: 0 1 100%;
    margin: 0 10% 0 10%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;

    p {
      color: white;
    }

  }

  .hidden {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 100px;
    transition: margin-bottom 1s, opacity 1s 1s, visibility 1s 1s;
  }

}
