<ion-header>
  <ion-navbar>
    <ion-title class="">Places to Eat</ion-title>
    <button ion-button class="cart" (click)="goToCart()">
      <ion-icon name="basket"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="filter-container">
    <button (click)="toggleFilterVisible()">
      <p *ngIf="filterVisible">Hide Filter</p>
      <p *ngIf="!filterVisible">Show Filter</p>
    </button>
    <filter-component
      (cuisineFilterUpdate)="cuisineFilterUpdate($event)"
      (priceFilterUpdate)="priceFilterUpdate($event)"
      [hidden]="!filterVisible">
    </filter-component>
  </div>
  <ion-list class="site-list">
    <ion-card class="eatsite-card" *ngFor="let site of eatsites">
      <button ion-item class="site-list-item" [hidden]="!inFilter(site.type, site.cost)" (click)="goToDetails(site.name)">

        <!-- TODO: Replace with img [src] to actual sample restaurant -->
        <img src="http://cdn-jpg.thedailymeal.net/sites/default/files/styles/tdm_slideshow_large/public/images/12-cabobobs-CaboBobsBurritos.jpg?itok=e1oPAiCe" />

        <!-- Eatsite main content -->
        <ion-card-content>

          <!-- Eatsite Name -->
          <ion-card-title>{{ site.name }}</ion-card-title>

          <!-- Eatsite Details -->
          <ion-row>
            <ion-col>
              <ion-icon name="cafe"></ion-icon>
              <p class="inline">{{ site.type }}</p>
            </ion-col>
            <ion-col>
              <ion-icon name="cash"></ion-icon>
              <p class="inline">{{ site.cost }}</p>
            </ion-col>
            <ion-col>
              <ion-icon name="alarm"></ion-icon>
              <p class="inline" *ngIf="site.open">
                Open
              </p>
              <p class="inline" *ngIf="!site.open">
                Closed
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </button>
    </ion-card>
  </ion-list>
</ion-content>
