<ion-header>
  <ion-navbar>
    <ion-title class="">Places to Eat</ion-title>
    <button ion-button class="cart" (click)="goToCart()">
      <ion-icon name="basket"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="filter-container">
    <button (click)="toggleFilterVisible()">
      <p *ngIf="filterVisible">Hide Filter</p>
      <p *ngIf="!filterVisible">Show Filter</p>
    </button>
    <filter-component
      (cuisineFilterUpdate)="cuisineFilterUpdate($event)"
      (priceFilterUpdate)="priceFilterUpdate($event)"
      [hidden]="!filterVisible">
    </filter-component>
  </div>
  <ion-list class="site-list">
    <ion-card class="eatsite-card" *ngFor="let site of eatsites">

      <!-- TODO: Replace with img [src] to actual sample restaurant -->
      <button ion-item class="eatsite-card-button"
        style="background: url(https://cdn0.vox-cdn.com/uploads/chorus_image/image/50827593/home_p2.0.0.jpg)"
        [hidden]="!inFilter(site.type, site.cost)"
        (click)="goToDetails(site.name)">

        <!-- Eatsite main content -->
        <div class="eatsite-card-content">
          <!-- Eatsite Name -->
          <div class="eatsite-title">{{ site.name }}</div>

          <!-- Eatsite Details -->
          <ion-row class="eatsite-details">
            <ion-col>
              <ion-icon name="cafe"></ion-icon>
              <p class="inline">{{ site.type }}</p>
            </ion-col>
            <ion-col>
              <ion-icon name="cash"></ion-icon>
              <p class="inline">{{ site.cost }}</p>
            </ion-col>
            <ion-col>
              <ion-icon name="alarm"></ion-icon>
              <p class="inline" *ngIf="site.open">
                Open
              </p>
              <p class="inline" *ngIf="!site.open">
                Closed
              </p>
            </ion-col>
          </ion-row>
        </div>
      </button>
    </ion-card>
  </ion-list>
</ion-content>
